node_modules
build
.DS_Store
tcr

package-lock.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*/secrets.json
.vscode

.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
src/abis/EIP20.json

src/abis/PLCRVoting.json

src/abis/Parameterizer.json

src/abis/PLCRVoting.json

src/abis/Registry.json

src/abis/Migrations.json
